<nav>
  <div class="menu">
    {{link-to 'Friends' 'friends' class="icon-users-1"}}
    {{link-to 'New Friend' 'friends.new' class="icon-user-add"}}  
  </div>
</nav>

<div class="row">
  <div class="full">
    {{outlet}}
  </div>
</div>
